@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "dodgerblue";
    -fx-stroke: "blue";
}

Rectangle {
    -fx-fill: "dodgerblue";/*transparent*/
    -fx-stroke: "blue";
}

Button{
    -fx-background-color: "brown";
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
    -fx-text-fill: "white";
    -fx-border-color: "beige";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-shadow: 1px 1px 1px black;
}

.button{
    -fx-background-color: "brown";
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
    -fx-text-fill: "white";
    -fx-border-color: "beige";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-shadow: 1px 1px 1px black;
}

.button:hover{
    -fx-background-color: "darkred";
    -fx-border-color: "beige";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-shadow: 1px 1px 1px black;
}

Label{
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
}

TextField{
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
}