@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "dodgerblue";
    -fx-stroke: "blue";
}

Rectangle {
    -fx-fill: "dodgerblue";/*transparent*/
    -fx-stroke: "blue";
}

Button{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
}

Label{
    -fx-font-size: 1.1em;
    -fx-font-family: "IM Fell English SC";
}