@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

Circle {
    -fx-fill: "transparent";
}

Circle:hover {
    -fx-fill: "white";
    -fx-opacity: 0.4;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,1) , 20,20,0,0 );
}

Rectangle {
    -fx-fill: "transparent";
    -fx-opacity: 0.3;
}

Rectangle:hover {
    -fx-fill: "white";
    -fx-opacity: 0.4;
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,1) , 5,5,0,0 );
}

#vueDuJeu{

    -fx-background-image: url("/images/bg.jpg");

    /*
    -fx-background-color: #eddca8;
     */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.root{
    -fx-background-color: "beige";
}

ButtonTemp{
    -fx-background-color: "brown";
    -fx-font-size: 1.5em;
    -fx-font-family: "IM Fell English SC";
    -fx-text-fill: "white";
    -fx-border-color: "beige";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button{
    -fx-background-color: "brown";
    -fx-font-size: 1.2em;
    -fx-font-family: "IM Fell English SC";
    -fx-text-fill: "white";
    -fx-border-color: "beige";
    -fx-border-width: 4px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-padding: 5px;
    -fx-margin-left: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    /*
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 5,5,0,0 );
    */
}

.button:hover{
    -fx-background-color: "darkred";
    /*
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.8) , 10,10,0,0 );
*/
}

Label{
    -fx-font-size: 1.2em;
    -fx-font-family: "IM Fell English SC";
}

FlowPane{
    -fx-background-color: transparent;
    -fx-background: transparent;
}

ScrollPane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: darkred;
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
}

TextField{
    -fx-font-size: 1.2em;
    -fx-font-family: "IM Fell English SC";
}

Spinner{
    -fx-font-size: 1.2em;
    -fx-font-family: "IM Fell English SC";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
}

#plateau{
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#vuePlateauBis{
    -fx-max-width: 300px;
}

#VueJoueurCourant{
    -fx-background-color: beige;
    -fx-background: beige;
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#VueJoueurCourant > {
    /*
    -fx-font-size: 0.5em;
    -fx-font-family: "IM Fell English SC";

     */
}


#instructionHBox{
    -fx-background-color: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#vboxJoueur{
    -fx-background-color: "beige";
    -fx-background: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
}

#vueAutreJoueur > *{
    -fx-background-color: "beige";
    -fx-background: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
}

#HBoxJoueurCourant{
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
    /*-fx-background-color: "darksand"; fais une erreur */
}

#destinationsJoueurCourant{
    -fx-font-size: 1.1em;
    -fx-text-fill: "black";
}

#destinationsJoueurCourant >*{
    -fx-text-fill: "black";
}

#cardRight{
    -fx-background-color: "beige";
    -fx-background: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#bwRight{
    -fx-background-color: "beige";
    -fx-background: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

ScrollPane{
    -fx-background-color: "transparent";
}

FlowPane{
    -fx-background-color: "transparent";
}

#carteTransportJoueurFlowPane{
    -fx-background-color: "transparent";
}

#actionJeu{
    -fx-background-color: "beige";
    -fx-background: "beige";
    -fx-border-color: "darkred";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#cartesTransportVisibleFlowPane{
    -fx-background-color: "transparent";
}

#carteTransport{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    /*-fx-border-width: 6px;*/
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 0;
    -fx-text-fill: "transparent";
}

#VueCarteTransport{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-text-fill: "transparent";
}

#pionsBateauBtn{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-text-fill: "transparent";
}

#pionsWagonBtn{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-max-width: 350px;
    -fx-font-size: 1.3em;
}

#piocheDestinationBtn{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-font-size: 1.3em;
    -fx-width: 100px;
}

#selecteurNombreJoueurs{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-font-size: 1.3em;
    -fx-width: 30px;
}

#spritePiocheBateau{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-font-size: 1.3em;
    -fx-width: 30px;
}
#spritePiocheWagon{
    -fx-background-color: "transparent";
    -fx-background: "transparent";
    -fx-border-color: "transparent";
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 7px;
    -fx-font-size: 1.3em;
    -fx-width: 30px;
}

VueJoueur {
    -fx-border-color: black;
    -fx-border-width: 6px;
    -fx-border-radius: 5px;
    -fx-background-color: "beige";
    -fx-background-radius: 7px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
/*
HBox{
    -fx-border-color: green;
    -fx-border-width: 1px;
}
VBox{
    -fx-border-color: red;
    -fx-border-width: 1px;
}

 */

